<h1>Project Uno</h1>

<h2>Welcome to Project Uno</h2>

<p> Project Uno allows users to create photo essays that tell a larger story about their lives. 
</p>

<p>Users can upload a photo or series of photographs captured from a mmoment in their day. This upload can be categorised or simply added as a journal entry with accompanying text to provide context and narrative.
</p>

<p>
Project Uno's purpose is to provide a platform for story telling. 
In a world where are constantly on the go, hustling with doubts and worries, why not pause. Take a breath, and connect with this human (or robot?!?!?!!?) that has captured a precious moment in their day and shared their story.
</p>

<p>
Welcome....
</p>

<!-- <% if @current_user.present? %>
    <p>Logged in as: <%= @current_user.email  %></p>
<% end %> -->
