

 <% if @current_user.present? %>
    <p>Logged in as: <%= @current_user.email  %></p>
<% end %> 

<%= flash[:notice] %>

<h1 class="display-1">Project Uno</h1>

<h1 class="display-4">Welcome to Project Uno</h1>

<p class="lead"> Project Uno allows users to create photo essays that tell a larger story about their lives. 
</p>

<p class="lead">Users can upload a photo or series of photographs captured from a moment in their day. This upload can be categorised or simply added as a journal entry with accompanying text to provide context and narrative.
</p>

<p class="lead">
Project Uno's purpose is to provide a platform for story telling. 
In a world where are constantly on the go, hustling with doubts and worries, why not pause. Take a breath, and connect with this human <del>(or robot?!?!?!!?)</del> that has captured a precious moment in their day and shared their story.
</p>

<p class="lead">
Sign up! and get started ..... 
</p>


