<h1>Journal Entries</h1>
<p>Find me in app/views/journals/index.html.erb</p>




<% @journals.each do |journal| %>
<div class="image-container">
<%= image_tag journal.image, :class => 'thumb' if journal.image.present? %>
</div>

<h2>
  <%= link_to journal.title, journal %> 
    <p> <%= image_tag journal.image %></li> 
    <p> <%= journal.story %> </p>



</h2>

<% end %>