<h1>Journal Entries</h1>

<div class="image-container">

  <% @journals.each do |journal| %>

    <%= image_tag journal.image, :class => 'thumb' if journal.image.present? %>

  <% end %>
</div>

<div class="journals">
  <% @journals.each do |journal| %>
    <div class="journal">
      <div class="thumbnail">
        <div class="caption">
         <h2><%= link_to journal.title, journal %></h2>
            <p> <%= image_tag journal.image %></p> 
            <p> <%= journal.story %> </p>
        </div>
      </div>
    </div>
<% end %>
</div>