<h1 class="display-2">Journal Entries</h1>

<div class="image-container">

  <% @journals.each do |journal| %>

    <%= link_to image_tag(journal.image, :class => 'thumb'), journal %>

  <% end %>
</div>

<div class="journals">
  <% @journals.each do |journal| %>
    <div class="journal">
      <div class="thumbnail">
        <div class="caption">
         <h2 class="display-4"><%= link_to journal.title, journal %></h2>
            <p> <%= link_to image_tag(journal.image, :class => 'feature'), journal %></p> 
            <p class="lead"> <%= journal.story %> </p>
        </div>
      </div>
    </div>
<% end %>
</div>