<h1>Journal Entries</h1>

<div class="image-container">

  <% @journals.each do |journal| %>

    <%= image_tag journal.image, :class => 'thumb' if journal.image.present? %>

  <% end %>
</div>

<% @journals.each do |journal| %>
<h2>
  <%= link_to journal.title, journal %> 
    <p> <%= image_tag journal.image %></p> 
    <p> <%= journal.story %> </p>



</h2>

<% end %>