/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* * {border: 1px solid rgb(108, 108, 108);} */


 .image-container {
    display: flex;
     grid-template-columns: repeat; 
    gap: 0.75rem;
     margin-top: 50px;
}  

.image-container img {
    width: 200px;
    height: auto;
    Border-radius: 1em;
}

.feature {
    width: 25em;
    height: auto;
}

body {
    margin: 0 auto;
    display: block;
    background-image: url(https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1490&q=80);
    background-color: #1a1717;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;   
}

h1 {
    text-align: center;
}

p {
    font-size: medium;
}

.container {
    color:whitesmoke;
    max-width: 960px;
    
}

.row {
    color: whitesmoke;
}


@media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }